<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>

        <title>
            {% block title %}
            {% endblock %}
            | Oscar Vilca
        
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <header>
            <div id='logotipo'>
                <img src="{% static 'images/qqr2.png' %}"/>
                <h1>Mi propio diseño</h1>

            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/inicio"> Inicio</a>
                </li>
                <li>
                    <a href="/saludo"> Mensaje de Saludo</a>
                </li>
                <li>
                    <a href="/penultimo"> Penultima cara</a>
                </li>
                <li>
                    <a href="/ultimo"> Ultima cara</a>
                </li>
            </ul>
        </nav>
        
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            
            {% block content %}
            <strong>Contenido en layout (Padre)</strong>
            {% endblock %}
        </div>
        
    </div>
    <footer>
        UNTELS - LP3 &COPY; Oscar Vilca
    </footer>
    </body>
</html>